page-home {
    .card-background-page {

                
        ion-card {
            position: relative;
            text-align: center;
            height: 30%;
            width: 100%;
          }
        
          .card-title {
            position: absolute;
            top: 36%;
            font-size: 3.0em;
            width: 100%;
            font-weight: bold;
            color: rgb(0, 0, 0);
            text-shadow: 0 0 3px #fff , 0 0 50px #fff
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
        
    }
        
    .buttons {
            border-top: 5px solid dodgerblue;
    }
}
